{% block body %}
    <div class="container-fluid mt-5 " style="background: #bde5c0">
        <div class="row">
        <div class="container" >
            <div class="row  text-center text-light " >
                <div class="row">
                    <div class="col-3" style="color: #0a0a0a">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        <div>
                            <h4>Transport gratuit</h4>
                            <p>Gratuit la comenzi de peste 299 lei</p>
                        </div>
                    </div>
                    <div class="col-3" style="color: #0a0a0a">
                        <i class="fa fa-recycle" aria-hidden="true"></i>
                        <div>
                            <h4>Garantie</h4>
                            <p >Toate produsele dispun de garantie de pana la 24 de luni</p>
                        </div>
                    </div>
                    <div class="col-3" style="color: #0a0a0a">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        <div>
                            <h4>Siguranta platii</h4>
                            <p>Poti plati online cu ajutorului cardului</p>
                        </div>
                    </div>
                    <div class="col-3" style="color: #0a0a0a">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                        <div >
                            <h4 >Suport online</h4>
                            <p>Acordam suport si sfaturi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}